<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Choix de Connexion</title>
  <link rel="stylesheet" href="../assets/css/connexion.css" />    
</head>
<body>

<h3>Veuillez choisir votre type de compte :</h3>

<div class="tabs">
  <button id="btn-client">Je suis client</button>
  <button id="btn-artisan">Je suis artisan</button>
</div>
<div>
  <p>Si vous n'avez pas de compte, vous pouvez vous inscrire en cliquant <a href="./inscription.html">ici</a>.</p>
</div>
<script>
  const btnClient = document.getElementById('btn-client');
  const btnArtisan = document.getElementById('btn-artisan');

  btnClient.addEventListener('click', () => {
    window.location.href = './connexion_client.php';
  });

  btnArtisan.addEventListener('click', () => {
    window.location.href = './connexion_artisan.php';
  });
</script>

</body>
</html>
